<p-toolbar styleClass="tool-bar">
  <div class="p-toolbar-group-left">
    <button pButton type="button" label="Menu" class="p-button" icon="pi pi-align-justify"
      (click)="oppenSideBar()"></button>
    <img class="rounded-circle float-start ml-2" width="60" height="60" src="http://127.0.0.1/uploaded-files/1659355120586.jpg"
      alt="">
    <div class="col">
      <span>User Name</span><br>
      <span>User level</span>
    </div>
  </div>
  <div class="p-toolbar-group-center">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText  placeholder="Search">
    </span>
  </div>
  <div class="p-toolbar-group-right">
    <p-button icon="pi pi-bell"></p-button>
    <p-button icon="pi pi-calendar" styleClass="p-button-success"></p-button>
    <p-button icon="pi pi-sign-out  " styleClass="p-button-danger"></p-button>
  </div>
</p-toolbar>
